<div class="grid grid-nogutter surface-section text-800">
    <div
        class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
    >
        <section>
            <span class="block text-6xl font-bold mb-1"
                >Create the screens your</span
            >
            <div class="text-6xl text-blue-500 font-bold mb-3">
                visitors deserve to see
            </div>
            <p class="mt-0 mb-4 text-700 line-height-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>

            <button
                pButton
                pRipple
                type="button"
                label="Learn More"
                class="mr-3 p-button-rounded border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"
            ></button>

            <button
                pButton
                pRipple
                label="Live Demo"
                class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"
            ></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img
            src="assets/demo/images/landing/hero-1.png"
            alt="Image"
            class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        />
    </div>
</div>

<div class="col-12">
    <div class="">
        <p-galleria
            [value]="images"
            [responsiveOptions]="galleriaResponsiveOptions"
            [containerStyle]="{ 'max-width': '800px', margin: 'auto' }"
            [numVisible]="6"
            [circular]="true"
        >
            <ng-template pTemplate="item" let-item>
                <img
                    [src]="item.itemImageSrc"
                    style="width: 100%; display: block"
                />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid nogutter justify-center">
                    <img
                        [src]="item.thumbnailImageSrc"
                        style="display: block"
                    />
                </div>
            </ng-template>
        </p-galleria>
    </div>
</div>
